@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

@section Styles {
    <link rel="stylesheet" type="text/css" href="~/css/privacy.css" />
}

<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
